@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared styles */
.display-flex{
  display: flex;
}
.btn-primary{
  color: white;
  font-weight: 600;
  font-size: 1.25rem;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  background-color: #FF900E;
}

/* Primary Color */
.bg-primary{
  background-color: rgba(255, 144, 14, 0.1);
}
/* Dark 01 */
.dark-black{
  color: #131313;
}
/* Dark 02 */
.dark-gray{
  color: #424242;
}
/* Dark 03 */
.light-gray{
  color: #727272;
}

/* Navbar styles */
.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand{
  font-weight: 700;
  font-size: 2.8rem;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}

.nav-link{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}


/* Banner related styles */
.banner-content{
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 28px;
}

.banner-image{
  width: 100%;
  padding-bottom: 45px;
}

.banner-description{
  margin-bottom: 32px;
}

/* Mobile Responsive Media */
@media screen and (max-width: 576px) {
  .navbar, .nav-links{
    flex-direction: column;
  }
}